#*.bat linguist-detectable=false
*.* linguist-detectable=false
*.py linguist-detectable=true
*.py linguist-language=Python
*.spec linguist-language=Python
*.bat linguist-documentation=true
*.log linguist-documentation=true
python-romkan\*.* linguist-vendor=true
polyglot\*.* linguist-vendor=true
polyglot-wheel-files-to-install-before-polyglot\*.* linguist-vendor=true



# NICE ANSWERS HERE: ---> https://stackoverflow.com/questions/34713765/github-changes-repository-to-the-wrong-language



# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
#*.rb linguist-language=Java

# Replace any whitespace in the language name with hyphens:
#*.glyphs linguist-language=OpenStep-Property-List

# Language names are case-insensitive and may be specified using an alias.
# So, the following three lines are all functionally equivalent:
#*.es linguist-language=js
#*.es linguist-language=JS
#*.es linguist-language=JAVASCRIPT


#SUMMARY:
#Git attribute		Defined in		Effect on file                       
#linguist-detectable	languages.yml		Included in stats, even if language's type is data or prose    ------ bat? yes, set undetectable i guess
#linguist-documentation	documentation.yml	Excluded from stats
#linguist-generated	generated.rb		Excluded from stats, hidden in diffs ------ bat? well, they are 'generated' off my official bat files and frozen in the project at the time of last update, but they're still my code. better not mis-classify them
#linguist-language=name	languages.yml		Highlighted and classified as name
#linguist-vendored	vendor.yml		Excluded from stats                  ------ bat? No, that's for other people;'s code


#Detectable
#By default only languages of type programming or markup in languages.yml are included in the language statistics. 
#Languages of a different type in languages.yml are not "detectable" by default, causing them not to be included in the language statistics, 
#but can be made detectable as shown below. Languages that are not yet mentioned in languages.yml will not be included in the language statistics, 
#even if you specify something like *.mycola linguist-language=MyCoolLang linguist-detectable in the .gitattributes file.

#Use the linguist-detectable attribute to mark or unmark paths as detectable:
#*.kicad_pcb linguist-detectable
#*.sch linguist-detectable
#tools/export_bom.py -linguist-detectable


#Documentation
#Just like vendored files, Linguist excludes documentation files from your project's language stats. 
#documentation.yml lists common documentation paths and excludes them from the language statistics for your repository.
#
#Use the linguist-documentation attribute to mark or unmark paths as documentation:
#
## Apply override to all files in the directory
#project-docs/* linguist-documentation
## Apply override to a specific file
#docs/formatter.rb -linguist-documentation
## Apply override to all files and directories in the directory
#ano-dir/** linguist-documentation
#Generated code
#Not all plain text files are true source files. Generated files like minified JavaScript and compiled CoffeeScript 
#can be detected and excluded from language stats. As an added bonus, unlike vendored and documentation files, 
#these files are suppressed in diffs. generated.rb lists common generated paths and excludes them from the language statistics of your repository.
#
#Use the linguist-generated attribute to mark or unmark paths as generated.
#
#Api.elm linguist-generated
#Vendored code
#Checking code you didn't write, such as JavaScript libraries, into your git repo is a common practice, 
#but this often inflates your project's language stats and may even cause your project to be labeled as another language. 
#By default, Linguist treats all of the paths defined in vendor.yml as vendored and therefore doesn't include them in the 
#language statistics for a repository.
#
#Use the linguist-vendored attribute to vendor or un-vendor paths:
#
## Apply override to all files in the directory
#special-vendored-path/* linguist-vendored
## Apply override to a specific file
#jquery.js -linguist-vendored
## Apply override to all files and directories in the directory
#ano-dir/** linguist-vendored



